<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Flask - LangChain Starter Project</title>
</head>

<body>
    <div class="main-container">
        <h1>LangChain Starter Project</h1>
        <a href="http://localhost:5000/pet" target="_self">1. Pet Name Generator</a> |
        <a href="http://localhost:5000/agents" target="_self">2. LangChain Agents</a>
    </div>
</body>
</html>