<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>LangChain Agents - Using Wikipedia and LLM MathChain (llm-math)</title>
</head>

<body>
    <h1>LangChain Agents - Using Wikipedia and LLM MathChain (llm-math)</h1>
    <form method="POST" action="/process">
        <p>
            Enter question for Wikpedia or a math problem:
            <input type="text" name="question" required>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>

    </form>
</body>

</html>