<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Name Generator</title>
</head>

<body>
    <h1>Pet Name Generator</h1>
    <form method="POST" action="/process">
        <p>
            What kind of pet do you have?
            <input type="text" name="pet" required>
        </p>
        <p>
            What color is it?
            <input type="text" name="color" required>
        </p>
        <p>
            What type of pattern does it have?
            <input type="text" name="pattern" maxlength="20a">
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>

    </form>
</body>

</html>